@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">SEARCH ROUTE</div>
            <div class="panel-body small">
                <form action="@Url.Action("GetRoute", "Tickets")">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="date">Date</label>
                                <input id="date" name="date" type="date" class="form-control input-sm" value="2017-06-01">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="hour">Leaving after</label>
                                <input id="leavingAfter" name="leavingAfter" type="time" class="form-control input-sm" value="08:00" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="leaving">Leaving from</label>
                                <input id="originStationName" name="originStationName" type="text" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="arriving">Arriving to</label>
                                <input id="destinationStationName" name="destinationStationName" type="text" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="control-label input-sm" for="primaryStations">Show only primary stations</label>
                            <input type="checkbox" id="primaryStations" name="primaryStations">
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                <!--<a asp-area="" asp-controller="Ticket" asp-action="GetRoute" asp-route-originStationName="">-->
                                <button id="singlebutton" name="singlebutton" class="btn">Search train</button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                <a href="#">Advanced search</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-12">
                    <h2>NEWS</h2>
                    <hr />
                </div>
                <div class="col-md-12">
                    Disruption between East Croydon and Uckfield expected until 21:00
                    <hr />
                </div>
                <div class="col-md-12">
                    Disruption between New Cross Gate and Norwood Junction / Crystal Palace expected until 21:00
                    <hr />
                </div>
                <div class="col-md-12">
                    Disruption at Bournemouth expected until 20:00
                    <hr />
                </div>
                <div class="col-md-12">
                    Amended late night / early morning Great Western Railway services between Reading and Didcot Parkway / Bedwyn from Monday 18 December to Friday 22 December
                    <hr />
                </div>
                <div class="col-md-12">
                    Major improvement work between Preston and Blackpool from Saturday 11 November until Sunday 25 March
                </div>
            </div>
        </div>
    </div>
</div>